// 新增虚线框button 无边框button
.el-button--dashed{
    border-style:dashed;
}
.el-button--noBorder{
    border: none;
}
.el-button.is-disabled,.el-button.is-disabled:hover{
    background: #F5F6F6;
    border-color:#C6CBCE;
    color: #C6CBCE;;
}
.el-button.is-disabled.el-button--text,.el-button.is-disabled.el-button--noBorder{
    background: transparent;
    border: none;
}

