.statistic-demo {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
  .statistic-demo-title {
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 600;
    color: #262626;
    margin-bottom: 6px;
  }
  .statistic-instance {
    padding: 10px 0;
  }
  .slot-style {
    font-size: 24px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #202940;
  }
}
