.progress-wrap {
  .el-step__icon.is-text {
    border: 0px;
  }
  .el-step__title.is-wait .title {
    color: #738399;
  }
  .el-step__title.is-process .title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #212a3f;
  }
  .el-step__title.is-finish .title {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #212a3f;
  }
  .el-step__title.is-process {
    color: #212a3f;
    font-size: 14px;
    font-weight: 400;
  }
  .icon-box {
    position: relative;
    .tip {
      position: absolute;
      top: -30px;
      left: -20px;
    }
    .cancel-text {
      color: red;
    }
    .reject-text {
      background: red;
      color: red;
    }
    .fished-text {
      color: #368afa;
    }
  }
  // 小圆圈
  .icon {
    width: 9px;
    height: 9px;
    background: #a0a8ae;
    border-radius: 100%;
  }

  .description-box {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #738399;
  }
  // 催一下
  .isUrge {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #368afa;
    cursor: pointer;
  }
  .active {
    background: #368afa;
  }
  .cancel {
    background: red;
  }
  .reject {
    background: red;
  }
}
